<ion-header>
    <ion-toolbar>
        <ion-title>Select Project:</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-virtual-scroll [items]="mobileState.projects">
        <ion-item *virtualItem="let item">
            <ion-item lines="none" *ngIf="!mobileState.offline">
                <ion-checkbox (click)="projectToggle(item)" slot="start"></ion-checkbox>
            </ion-item>
            <ion-item lines="none" (click)="projectGo(item)">
                <ion-label style="color: black">{{item.name}}</ion-label>
            </ion-item>
        </ion-item>
    </ion-virtual-scroll>
</ion-content>

<ion-footer>
    <ion-item-group>
        <ion-item>
            <ion-button
                    (click)="offlineToggle()"
                    [color]="mobileState.offline ? 'success' : 'danger'"
                    style="width: 100%; padding: 5pt"
                    size="large"
                    expand="block">{{mobileState.offline ? 'Go Online' : 'Download & Go Offline'}}</ion-button>
        </ion-item>
    </ion-item-group>
</ion-footer>