.fs-view-sites {
    text-align: center;
    align: center;
    expand: block;
    width: 90%;
    margin-left: 5%;
}

.fs-view-upload {
    text-align: center;
    align: center;
    expand: block;
    width: 90%;
    margin-left: 5%;
    background-color: red;
}